.image-div img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.image-div img:hover {
    opacity: .5;
    cursor: pointer;
}
.textOverflow-container {
    width: 100%;
}

.textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}





