
.book-card{
    margin: 15px;
    width: 18rem;
}

.book-cover{
    height: 300px;
    width: 100px;
    background-color: aqua;
}
.navItem{
    font-size: large;
    font-weight: 800;
    color: #9c9c9c;
}
.error {
    color: lightcoral;
    font-style: oblique;
}


.info-container {
    background-color: #ececec;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container-row-wrapped{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
}
.imagen-card{
    object-fit: fill;
}
.form-label {
    font-weight: bold;
    margin: 2px;
}
.display-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}
.text-color{
    color: #7DCFB6;
}

.main-class{
    flex-grow: 1;
    background-color: #E3DDE0;
}

.body-class{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.field-group {
    display: flex;
}

.field {
    flex: 1;
    padding-right: 8px;
}