.book-card{
    margin: 10px;
}

.book-cover{
    height: 300px;
    width: 100px;
    background-color: aqua;
}
.navItem{
    font-size: large;
}
.lendView {
    background-color: #d0eaf7 !important;
}

.container-row-wrapped{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
}

