.user-grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 4fr 6fr;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.big {
    font-size: 6vw;
}

.medium {
    font-size: 3vw;
}

.small {
    font-size: 1.75vw;
}

.very-small {
    font-size: 1vh;
}

.grey-text {
    color: #9ca3af;
}

.user-profile-cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile-picture {
    width: 75%;
    -webkit-box-shadow: 0 0 15px black;
    box-shadow: 0 0 10px black;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.user-info {
    position: relative;
    display: flex;
}

.user-info > .info-container{
    display: block;
    align-items: center;
    margin-block: 4vh;
    padding-left: 5%;
    width: 100%;
}

.user-role {
    display: flex;
    margin-bottom: -2vh;
    /*margin-top: 3vh;*/
}

.user-name {
    display: flex;
    color: black;
}

.user-ratings-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1vh;
}

.user-ratings-wrapper .user-rating-wrapper:nth-child(2) {
    margin-left: 10vh;
}


.spacer {
    max-width: 100%;
    min-width: 5%;
}

.user-grid > div {
    /*border: red 2px solid;*/
}


.star {
    font-size: 2vw;
}