.user-grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 4fr 6fr;
}

.big {
    font-size: 10vh;
}

.medium {
    font-size: 5vh;
}

.small {
    font-size: 3vh;
}

.very-small {
    font-size: 1vh;
}

.grey-text {
    color: #9ca3af;
}

.user-profile-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.user-profile-picture-container {
    overflow: hidden;
    width: 75%;
    max-width: 75%;
    -webkit-box-shadow: 0 0 15px black;
    box-shadow: 0 0 10px black;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.user-profile-picture-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(6);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.user-profile-picture-container:hover img {
    filter: brightness(50%);
}

.user-profile-picture-container:hover svg {
    opacity: 1;
}

/*.user-profile-picture-text:hover {*/
/*    opacity: 1;*/
/*}*/


.user-info {
    display: block;
    align-items: center;
    margin-block: 4vh;
    padding-left: 5%;
}

.user-role {
    display: flex;
    margin-bottom: -2vh;
    /*margin-top: 3vh;*/
}

.user-name {
    display: flex;
    color: black;
}

.user-ratings-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1vh;
}

.user-ratings-wrapper .user-rating-wrapper:nth-child(2) {
    margin-left: 10vh;
}


.spacer {
    max-width: 100%;
    min-width: 5%;
}

.user-grid > div {
    /*border: red 2px solid;*/
}


.star {
    font-size: 30px;
}